:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  display: flex;
  /* height: 100vh; */
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  /* font-size: 3.2em; */
  /* line-height: 1.1; */
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #41d69d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2faf7e;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}

/* Logo Sekolah */
.logo {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin: 10px; */
}
.logo img {
  position: relative;
  width: 50px;
  height: auto;
}
.logo p {
  position: relative;
  width: 100px;
  font-weight: bold;
  color: #213547;
  line-height: normal;
}

/* Responsif untuk tablet */
@media (max-width: 1025px) {
  .logo {
    height: 50px; /* Sedikit lebih kecil */
    gap: 5px;
  }
  
  .logo img {
    width: 40px; /* Perkecil logo */
  }

  .logo p {
    font-size: 0.9rem; /* Perkecil teks */
  }
}

/* Responsif untuk HP */
@media (max-width: 500px) {
  /* .logo {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  } */

  .logo img {
    position: relative;
    width: 35px;
    height: auto;
  }

  .logo p {
    display: none;
  }
}

/* END Logo Sekolah */

/* Form Login*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
} 
.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  color: #6B7280;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
/* End Form Login*/ 

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
} 
::-webkit-scrollbar-track {
  background: transparent;
  background: transparent;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
} 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.199); 
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 99, 99, 0.233); 
}
/* End Scrollbar */

/* table input checkbox */
.checkbox-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox-icon input[type="checkbox"] {
  appearance: none; /* Hilangkan default style checkbox */
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.checkbox-icon input[type="checkbox"]:checked {
  background-color: white;
  border-color: white;
}

.checkbox-icon input[type="checkbox"]::before {
  content: "✔";
  color: black;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.checkbox-icon input[type="checkbox"]:checked::before {
  visibility: visible;
}
/* END table input checkbox */

/* icon table plus, delete, edit, refresh */
.icon-table {
  position: relative;
  padding: 0px 10px 0px 10px;
  display: flex;
  place-items: center;
  gap: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.5);
}
.icon-table a {
  color: black;
}
/*  */
.content-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: black;
  margin-bottom: 20px;
}
/*  */
.list-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* button layout */
.button-col {
  display: flex;
  justify-content: end;
  gap: 10px;
}
/* END Button Layout */

/* DASHBOARD / Home  */
.second {
  display: flex;
}
.lima {
  width: 50%;
}


/* popup detail berita */
.popup-detail {
  height: 500px;
  overflow-x: auto;
  margin: 20px;
  text-align: justify;
}

.img-berita {
  width: 100%;
  height: 200px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
  object-fit: cover;
}

.img-berita img {
  width: 100%; /* Agar gambar memenuhi kontainer */
  max-width: 300px; /* Batasi ukuran maksimum */
  height: auto; /* Pertahankan aspek rasio */
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.title-berita {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
/* END popup detail berita */

/* Popup detail komentar */
.popup-komentar {
  text-align: left;
  margin: 20px;
}
.info-komentar {
  display: flex;
  justify-content: space-between;
  color: #888;
  margin-bottom: 10px;
}
.balas-komentar {
  margin-top: 20px;
}
.balas-komentar textarea{
  width: 100%;
}
/* End Popup detail komentar */