#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0; /* Hilangkan padding agar lebar penuh */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* NAVBAR */

.navbar {
  width: 100%; /* Pastikan navbar memenuhi lebar root */
  display: flex;
  align-items: center;
  /* background-color: #007bff; */
  color: white;
  flex-direction: column;
  box-sizing: border-box; /* Pastikan padding tidak memengaruhi lebar */
}

.navbar-title {
  background-color: white;
  width: 100%; /* Pastikan lebar title memenuhi navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px; /* Tambahkan padding di kiri dan kanan */
  box-sizing: border-box; /* Pastikan padding tidak memengaruhi ukuran elemen */
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-weight: bold;
  color: #213555;
  font-size: 8px;
}

.navbar-logo img {
  width: 48px;
  height: 48px;
}

.search {
  background-color: white;
  border: 1px solid #888;
  border-radius: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  width: 256px;
  height: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-search {
  color: #ccc;
  width: 32px;
  height: 100%;
  left: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.search-bar {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 16px;
  display: block;
  padding: 8px 16px 8px 32px;
  font-size: 12px;
  color: #666;
  outline: none; /* Hilangkan outline default */
  transition: box-shadow 0.3s ease; /* Tambahkan transisi untuk efek fokus */
  /* position: relative; */
}

.navbar-menu {
  background-color: #213555;
  width: 100%; /* Pastikan menu memenuhi navbar */
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.navbar-toggle {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0px 24px;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 8px;
}

.navbar-dropdown {
  position: relative;
  height: 100%;
  align-items: center;
}

.navbar-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #213555;
  color: black;
  padding: 0; /* Sesuaikan padding untuk menu */
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block; /* Tetap gunakan block untuk memastikan animasi terlihat */
  visibility: hidden; /* Awalnya tidak terlihat */
  opacity: 0; /* Awalnya transparan */
  transform: translateY(-10px); /* Awalnya sedikit di atas */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease; /* Tambahkan transisi untuk visibility */
  width: auto; /* Lebar menyesuaikan dengan konten di dalamnya */
  white-space: nowrap; /* Menghindari pemotongan teks jika panjang */
  text-align: left;
}

.navbar-dropdown:hover .navbar-dropdown-menu {
  visibility: visible; /* Menu menjadi terlihat */
  opacity: 1; /* Tampilkan menu */
  transform: translateY(0); /* Geser ke posisi normal */
}

.navbar-dropdown-menu a {
  display: block;
  padding: 8px 24px;
  height: 32px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center;
}

.navbar-dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

